<ion-header>
  <ion-toolbar>
    <ion-title>Chips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button color="primary" fill="outline" href="/home">
    <ion-icon name="arrow-round-back" style="font-size: 3em;"></ion-icon>
  </ion-button>

  <br><br>

  <ion-chip>
    <ion-label>Default</ion-label>
  </ion-chip><br>
  
  <ion-chip>
    <ion-label color="secondary">Secondary Label</ion-label>
  </ion-chip><br>
  
  <ion-chip color="secondary">
    <ion-label color="dark">Secondary w/ Dark label</ion-label>
  </ion-chip><br>
  
  <ion-chip>
    <ion-icon name="pin"></ion-icon>
    <ion-label>Default</ion-label>
  </ion-chip><br>
  
  <ion-chip>
    <ion-icon name="heart" color="dark"></ion-icon>
    <ion-label>Default</ion-label>
  </ion-chip><br>
  
  <ion-chip>
    <ion-label>Button Chip</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip><br>
  
  <ion-chip>
    <ion-icon name="pin" color="primary"></ion-icon>
    <ion-label>Icon Chip</ion-label>
    <ion-icon name="close"></ion-icon>
  </ion-chip><br>
  
  <ion-chip>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Avatar Chip</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip><br>
    
</ion-content>
