<ion-header>
  <ion-toolbar>
    <ion-title>
      Catálogo de Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-button href="/test-page" size="large" expand="full">
        Botones
      </ion-button>
      <ion-button href="/icons" size="large" expand="full">
        Iconos
      </ion-button>
      <ion-button href="/settings" size="large" expand="full">
        Entradas de texto
      </ion-button>
      <ion-button href="/chips" size="large" expand="full">
        Chips  (Ahoy!)
      </ion-button>
      <ion-button href="/lists" size="large" expand="full">
        Lists
      </ion-button>
      <ion-button href="/progress" size="large" expand="full">
        Progress Bars
      </ion-button>
  </div>
</ion-content>
